<launch>
  <node name="sample" pkg="yamasemi_sample" type="sample" respawn="false" output="screen">
    <remap from="odom" to="/beego/diff_drive_controller/odom"/>
    <!-- <remap from="scan" to="/beego/scan"/> -->
    <remap from="cmd_vel" to="/beego/diff_drive_controller/cmd_vel"/>
  </node>
</launch>

